<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

$_config = $this->helper('Sm\Multe\Helper\Data');
?>

<div class="footer-container footer-style-1">
	<div class="footer-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('open-hours')->toHtml(); ?>
				</div>
				
				<div class="col-lg-3 col-md-3">
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-services')->toHtml(); ?>
				</div>
				
				<div class="col-lg-2 col-md-2">
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-store')->toHtml(); ?>
				</div>
				
				<div class="col-lg-4 col-md-4">
					<div class="block-footer">
						<div class="footer-title"><?php echo __('Newsletter Subscribe')?></div>
						
						<div class="footer-content">
							<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-newsletter')->toHtml(); ?>
							<?php echo $block->getChildHtml('form.subscribe.footer'); ?>
							
							<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('applications')->toHtml(); ?>
						</div>
					</div>
				</div>
				
				<div class="col-lg-9 col-md-9">
					<div class="footer-bottom">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="copyright-content">
									<?php if($_config->getAdvanced('custom_copyright')){ ?>
										<address><?php echo $_config->getAdvanced('copyright_content') ?></address>
									<?php } else {?>
										<address><?php /* @escapeNotVerified */ echo $block->getCopyright() ?></address>
									<?php } ?>
								</div>
							</div>
							
							<div class="col-lg-6 col-md-6">
								<div class="payment-content">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('payments')->toHtml(); ?>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




