@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-style-1 .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li:not(:last-child){
        margin-left: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navigation-desktop{
        display: none;
    }

    .navigation-mobile-container{
        display: block;
    }

    .btn-mobile .button-mobile{
        line-height: 60px;
        vertical-align: top;
        font-size: 35px;
    }

    .header-top-left .socials-wrap,
    .greet.welcome{
        display: none!important;
    }

}

@media (max-width: 767px) {
    .navigation-desktop{
        display: none;
    }

    .navigation-mobile-container{
        display: block;
    }

    .btn-mobile .button-mobile{
        line-height: 60px;
        vertical-align: top;
        font-size: 35px;
    }

    .header-top-left .socials-wrap,
    .greet.welcome{
        display: none!important;
    }

    .header-style-1 .menu-col{
        position: absolute;
        z-index: 20;
    }

    .header-style-1 .cart-search{
        position: absolute;
        left: 0;
        top: -16px;
        width: 110px;
        z-index: 25;
        padding-right: 0;

        .search-wrapper{
            left: 37px;

            .block-content .field.search .input-text{
                width: 224px;
            }
        }

        .searchbox-header{
            margin-top: 28px;

            #btn-search{
                left: 0;
                right: auto;
            }
        }

        .minicart-header{
            .minicart-wrapper{
                margin-top: 14px;

                .action.showcart{
                    .counter{
                        display: none!important;
                    }
                }
            }
        }
    }

    .header-style-1 .minicart-wrapper{
        margin-right: 0;
    }

    .header-style-1  .header-top-left{
        text-align: center;
        margin: 0 0 10px;

        .mage-dropdown-dialog{
            text-align: left;
        }
    }

    .header-style-1  .header-top-right{
        text-align: center;
        float: none;
        margin: 0 0 45px;

        > .header.links{
            > li{
                margin: 0 10px;
            }
        }
    }

    .header-style-1 .language-wrapper, .header-style-1 .currency-wrapper{
        margin: 0 10px;
        padding: 0;

        &:before{
            display: none;
        }
    }

}

@media (max-width: 480px) {

}