// Header Style 1
.cms-index-index .page-main{
    margin-top: -4px;
}

.header-style-1{
    .header-top{
        padding: 14px 0;
    }

    .socials-wrap{
        display: inline-block;

        .title-follow{
            display: none;
        }

        ul{
            li{
                display: inline-block;
                margin-right: 15px;

                a{
                    color: #fff;

                    &:hover{
                        opacity: .8;
                    }

                    .name-social{
                        display: none;
                    }
                }
            }
        }
    }

    .welcome-text{
        display: inline-block;
        vertical-align: middle;
    }

    .header-top-left{
        > div:not(:last-child){
            &:before{
                content: "";
                background-color: rgba(255,255,255,0.4);
                width: 1px;
                height: 20px;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -10px;
            }
        }

        > div:last-child{
            margin: 0;
            padding: 0;
        }
    }

    .item.link.compare .action.compare{
        color: #fff;
        display: block;
        margin: 0;

        span:empty:before{
            content: "(0";
        }
    }

    .header-top-right{
        float: right;

        > .header.links{
            position: relative;
            top: -1px;

            > li{
                color: #fff;
                margin-right: 0;
                margin-left: 10px;

                > a{
                    color: #fff;

                    &:hover{
                        opacity: .8;
                    }
                }
            }
        }

        &.loggedin{
            > .header.links{
                > li{
                    &.authorization-link{
                        display: none;
                    }
                }
            }
        }
    }


    .language-wrapper,
    .currency-wrapper{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-right: 17px;
        padding-right: 20px;

        .switcher-label{
            display: none;
        }

        .switcher-options{
            .switcher-trigger{
                cursor: pointer;

                strong{
                    font-weight: normal;
                    color: #fff;

                    &:after{
                        .font-awesome(f107,14px);
                    }
                }
            }

            .switcher-dropdown{
                li{
                    padding: 10px 0;
                    border-bottom: 1px solid #e5e5e5;

                    &:last-child{
                        border-bottom: none;
                    }
                }
            }
        }
    }

    .language-wrapper{
        .switcher-options{
            .switcher-trigger{
                strong{
                    padding-left: 20px;
                    background-repeat: no-repeat;
                    background-position: left center;
                }
            }

            .switcher-dropdown{
                li{
                    a{
                        padding-left: 20px;
                        background-repeat: no-repeat;
                        background-position: left center;
                    }
                }
            }
        }
    }

    .dropdown{
        .switcher-trigger{
            position: relative;
        }

        .mage-dropdown-dialog{
            margin-top: 8px;
            .border_radius(3px);
            display: none!important;
        }

        &:hover{
            .switcher-trigger{
                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    height: 15px;
                    left: 0;
                    right: 0;
                    bottom: -14px;
                    z-index: 10005;
                }
            }

            .mage-dropdown-dialog{
                display: block!important;
            }
        }
    }

    .header-bottom{
        border-bottom: 4px solid rgba(0,0,0,0.3);
        position: relative;
        z-index: 200;

        &.menu-on-top{
            .logo-container{
                opacity: 0;
                visibility: hidden;
            }
        }

        .header-bottom-content{
            background-color: #292c39;
            height: 60px;
        }

        .logo-container{
            position: relative;
            opacity: 1;
            visibility: visible;
            .transition(.2s);

            .logo-wrapper{
                position: absolute;
                top: -44px;
                width: 100%;
                text-align: center;

                .logo-content{
                    margin: 0;
                }
            }
        }
    }

    .minicart-wrapper{
        .action.showcart{
            color: #fff;
            line-height: 60px;

            &:before{
                .font-awesome(f291,20px);
                vertical-align: middle;
                color: #fff!important;
                margin: 0 5px;
            }

            .text{
                display: none;
            }

            .counter{
                display: inline-block!important;
                vertical-align: middle;
                background: none;
                margin: 0;
                padding: 0;
                .border_radius(0);

                &:before,
                &:after{
                    display: none;
                }

                span{
                    display: inline-block;
                    vertical-align: middle;
                }

                .counter-number{
                    display: none;
                }

                .counter-label{
                    position: static;
                    width: auto;
                    height: auto;

                    span{
                        vertical-align: top;
                    }
                }

                .price-minicart{
                    .subtotal{
                        .label{
                            display: none;
                        }

                        .price{
                            &:before{
                                content: "-";
                                margin: 0 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    .searchbox-header{
        margin-top: 13px;
        float: right;
        padding-right: 50px;
        position: relative;
        min-width: 50px;
        min-height: 35px;
        border-right: 1px solid rgba(255, 255, 255, 0.4);

        &.active{
            #btn-search{
                &:before{
                    .font-awesome(f00d,20px);
                }
            }

            .search-wrapper{
                opacity: 1;
                visibility: visible;
            }
        }
    }

    #btn-search{
        position: absolute;
        right: 7px;
        top: 0;
        width: 35px;
        height: 35px;
        color: #fff;
        text-align: center;
        line-height: 35px;

        &:before{
            .font-awesome(f002,20px);
        }
    }

    .search-wrapper{
        position: absolute;
        right: 50px;
        top: 0;
        opacity: 0;
        visibility: hidden;
        .transition(.3s);

        .block-content{
            position: relative;

            .search-autocomplete{
                border-top: 1px solid #c2c2c2;
                top: 100%!important;
                margin-top: 0!important;
            }

            .nested{
                display: none;
            }

            .field.search{
                .control{
                    position: relative;
                }

                .input-text{
                    background-color: #fff;
                    border: none;
                    width: 240px;
                    height: 35px;
                    font-size: 90%;
                }
            }

            .actions{
                .btn-search-header{
                    background: none;
                    opacity: 1;
                    height: 35px;
                    width: 35px;
                    text-align: center;
                    line-height: 35px;
                    padding: 0!important;
                    position: absolute;
                    right: 0;
                    top: 0;

                    &:before{
                        .font-awesome(f002,14px);
                        color: #666;
                    }

                    span{
                        display: none;
                    }
                }
            }
        }
    }

    // MEGA MENU
    .header-bottom-content{
        > .container{
            position: relative;
        }
    }

    .menu-col{
        position: static;
    }

    .sm_megamenu_wrapper_horizontal_menu{
        position: static;

        .sm_megamenu_menu{
            > li{
                float: left;

                &:not(:last-child){
                    margin-right: 45px;
                }

                &.parent-item{
                    > a:after{
                        display: none;
                    }
                }

                > a{
                    color: #fff;
                    line-height: 60px;
                    text-transform: uppercase;
                }
            }
        }
    }
    // END MEGA MENU

    // CSS MENU

    .navigation {
        > ul {
            > li {
                float: left;

                &:not(:last-child){
                    margin-right: 45px;
                }


                > a{
                    text-transform: uppercase;
                    color: #fff;
                    line-height: 60px;
                }
            }
        }

        ul {
            li {
                position: relative;

                &.parent{

                }
            }

            > li {
                > a {
                    display: block;
                    position: relative;
                }

                ul {
                    background-color: #fff;
                    display: none;
                    width: 220px;
                    position: absolute;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                    z-index: 30;

                    li{
                        padding: 0 10px;
                        position: relative;

                        a{
                            padding: 10px 0;
                            border-bottom: 1px solid #e5e5e5;
                        }

                        &:last-child > a{
                            border: none;
                        }

                        ul{
                            left: 100%!important;
                            top: 0!important;
                        }
                    }
                }
            }
        }
    }

    .twitter-slider-container{
        background-color: #ffc833;
    }

    .ts-slider-wrap{
        max-width: 980px;
        margin: 0 auto;
        padding: 0 40px;

        .ts-item{
            .tweet{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 15px 0;
                font-size: 92.8571%;
                color: #222;

                &:before{
                    .font-awesome(f099,14px);
                    margin-right: 10px;
                }

                a{
                    color: #333;
                }
            }
        }

        .owl-controls{
            .owl-nav{
                position: absolute;
                top: 50%;
                margin-top: -9px;
                right: -33px;

                div{
                    width: auto;
                    height: auto;
                    background: none!important;
                    border: none!important;
                    color: #222;
                    opacity: 0.6;
                    line-height: unset;

                    &.owl-next:before{
                        .font-awesome(f0da,19px);
                    }

                    &.owl-prev:before{
                        .font-awesome(f0d9,19px);
                    }

                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.layout-boxed{
    .header-style-1{
        .header-bottom,
        .header-top{
            margin-left: -15px;
            margin-right: -15px;
            padding-left: -15px;
            padding-right: -15px;
        }
    }
}