<div class="header-container header-style-1">
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 option-left">
                    <div class="header-top-left">
<!--						--><?php //echo $block->getChildHtml('language-header'); ?>
<!--                        --><?php //echo $block->getChildHtml('currency-header'); ?>
						<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('socials')->toHtml(); ?>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 option-right">
                    <div class="header-top-right <?php echo $loggedin;?>">
                        <?php echo $block->getChildHtml('header.links'); ?>
                    </div>
                </div>
			</div>
		</div>
	</div>

    <div class="header-bottom">
		<div class="header-bottom-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-5 col-sm-4 menu-col">
						<div class="navigation-desktop">
							<?php
								if($_config->getGeneral('menu_style') == 'megamenu'){
									echo $block->getChildHtml('navigation-header-megamenu');
								} else {
									echo $block->getChildHtml('navigation-header');
								}
							?>
						</div>
						
						<div class="navigation-mobile-container">
							<?php echo $block->getChildHtml('navigation.mobile'); ?>
						</div>
					</div>
					
					<div class="col-lg-2 col-md-2 col-sm-4">
						<div class="logo-container">
							<?php echo $block->getChildHtml('logo-header'); ?>
						</div>
					</div>
					
					<div class="col-lg-5 col-md-5 col-sm-4 cart-search">
						<div class="minicart-header">
							<?php echo $block->getChildHtml('cart-header'); ?>
						</div>
						
						<div class="searchbox-header">
							<a id="btn-search" href="javascript:void(0);"><span class="hidden"><?php echo __('Search')?></span></a>
							<?php echo $block->getChildHtml('search-header'); ?>
							
							<script type="text/javascript">
								require([
									'jquery',
									'domReady!'
								], function ($) {
									$("#btn-search").click(function() {
										$(this).parent().toggleClass("active");
									});
								});
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>

</div>

