.minicart-wrapper .block-minicart {
    background: #fff!important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
    -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15) !important;
    .border_radius(4px);
}

.item.link.compare{
    display: inline-block;

    .action.compare{
        margin-left: 10px;

        &.no-display{
            display: none;
        }
    }
}

.header.links{
    display: inline-block;

    li{
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }

    .customer-menu{
        display: none;
        background: #fff;
        padding: 10px 15px;
        position: absolute;
        white-space: nowrap;
        z-index: 250;
        min-width: 140px;
        .box_shadow(0 0 10px rgba(0, 0, 0, 0.2));
        .border_radius(4px);

        .header.links{
            display: block;

            li{
                display: block;

                &:not(:last-child){
                    border-bottom: 1px solid #ddd;
                }

                a{
                    display: block;
                    padding: 10px 0;
                }
            }
        }
    }

    .customer-welcome{
        .dashboard{
            &:after{
                .font-awesome(f0d7,14px);
                margin-left: 5px;
            }
        }

        &:hover{
            .customer-menu{
                display: block;
            }
        }
    }
}
    // MOBILE NAVIGATION
.navigation-mobile-container {
    display: none;
}

.nav-mobile-container {
    position: relative;
}

.btn-mobile {
    display: inline-block;

    .button-mobile {
        display: inline-block;
        overflow: hidden;
        font-size: 38px;
        text-align: center;
        color: #fff;
        cursor: pointer;
    }
}

.navigation-mobile {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);

    > ul {
        > li {
            border-bottom: 1px solid #ddd;
            position: relative;

            &:last-child {
                border-bottom: none;
            }

            > a {
                display: block;
                text-transform: uppercase;
                padding: 10px 0;
            }

            ul {
                display: none;
                padding-left: 10px;

                li {
                    position: relative;

                    a {
                        display: block;
                        padding: 10px 0;
                    }
                }
            }
        }
    }

    .touch-button {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #5c5c5c;
        position: absolute;
        left: 0;
        top: 10px;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
        z-index: 10025;

        &:before {
            .font-awesome(f067, 10px);
            color: #fff;
        }

        &.active {
            &:before {
                .font-awesome(f068, 10px);
            }
        }

        span {
            display: none;
        }
    }
}

// collapse

.collapse-type {
    .navigation-mobile {
        display: none;
        position: absolute;
        z-index: 10020;
        top: 100%;
        width: 100%;
    }
}

// sidebar

.sidebar-type {
    .navigation-mobile {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        overflow-y: scroll;
        z-index: 10020;
        .transition(.3s);
    }
}

.navbar-active {
    overflow: hidden;

    .btn-mobile .button-mobile {
        &.active {
            &:before {
                content: "";
                position: fixed;
                left: 0;
                top: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                z-index: 10010;
            }
        }
    }

    .sidebar-type {
        .navigation-mobile {
            left: 0;
        }
    }
}

.sidebar-image.static-image {
    display: table;
}

/* NAVIGATION MOBILE */

.cart-wrapper {
    .mage-dropdown-dialog {
        position: absolute;
        right: 0;
        width: 320px;
    }
}

.showcart .text {
    display: block;
    width: auto !important;
    height: auto !important;
    position: relative !important;
}

.minicart-content .minicart-wrapper {
    .action.showcart {
        .counter.qty {
            display: block;
            width: auto;
            height: auto;
            position: static;
            background: none !important;
            color: #666 !important;
            margin: 0;

            .counter-label {
                display: inline-block;
                width: auto;
                height: auto;
                position: static;
            }
        }
    }

}

.minicart-wrapper .block-minicart {
    right: 0 !important;
}

.mega-featured {
    padding: 10px 0;

    ul {
        li {
            a {
                display: inline-block;
                padding: 5px 0;
                .transition(.2s);

                &:hover{
                    padding-right: 5px;
                }
            }
        }
    }

    .feature-title {
        color: #222;
        font-size: 100%;
        font-weight: 500;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
}

.block-minicart .subtitle.empty {
    font-weight: normal;
}

.sm_megamenu_head_item{
    .sm_megamenu_title > a > span{
        padding: 8px 0;
        display: block;
        border-bottom: 1px solid #e5e5e5;
    }
}

.categories-products{
    margin: -20px;

    .menu-content{
        display: table;
        width: 100%;
    }

    .categories{
        display: table-cell;
        vertical-align: top;
        width: 182px;
        padding: 3px 20px 20px;
        background-color: #f5f5f5;

        ul{
            li{
                &:not(:last-child){
                    border-bottom: 1px solid #dcdcdc;
                }

                a{
                    display: block;
                    padding:  8px 0;
                }

                .widget.block.block-category-link-inline{
                    margin: 0;
                    padding: 0;

                    span{
                        padding: 0;
                    }
                }
            }
        }
    }

    .products-column{
        display: table-cell;
        vertical-align: top;
        padding: 20px;

        .products-grid-menu{
            .products-grid{
                .item .item-inner{
                    margin-bottom: 0;
                }

                > .row{
                    margin-left: -10px;
                    margin-right: -10px;

                    .product-item{
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }

            .quickview-handler{
                display: none!important;
            }
        }
    }
}

//END CSS MENU

@media (min-width: 1200px) {
    .fancybox-lock {
        .menu-on-top {
            z-index: 9995;
        }
    }

    .menu-on-top {
        width: 100%;
        position: fixed !important;
        left: 0;
        top: 0;
        z-index: 10006;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
}
