<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<form method="post" action="" id="login-form" data-mage-init='{"form": {}, "validation": {}}'>
    <fieldset class="admin__fieldset">
        <legend class="admin__legend"><span><?= /* @escapeNotVerified */ __('') ?></span></legend><br/>
        <input name="form_key" type="hidden" value="<?= /* @escapeNotVerified */ $block->getFormKey() ?>" />
        <p class="admin__field-info"><?= /* @escapeNotVerified */ __('Enter your email address.  You will receive an email with a link to reset your password.') ?></p>
        <div class="admin__field _required field-email">
            <label for="email" class="admin__field-label"><span><?= /* @escapeNotVerified */ __('Email address') ?></span></label>
            <div class="admin__field-control">
                <input type="text" id="email" name="email" value="" data-validate="{required:true, 'validate-email':true}" class="admin__control-text" />
            </div>
        </div>
        <?= $block->getChildHtml('form.additional.info') ?>
        <div class="form-actions">
            <div class="actions">
                <button class="action-retrieve action-primary" type="submit"><span><?= /* @escapeNotVerified */ __('Retrieve Password') ?></span></button>
            </div>
            <div class="links">
                <a class="action-back" href="<?= /* @escapeNotVerified */ $block->getUrl('adminhtml', ['_nosecret' => true]) ?>">
                    <?= /* @escapeNotVerified */ __('Back to Sign in') ?>
                </a>
            </div>
        </div>
    </fieldset>
</form>
