@media (max-width: 1620px) {
    .products-grid-deal{
        .deal-ct-slider{
            margin-left: -15px;
            margin-right: -15px;

            .container{
                float: none;
                padding: 0;
                width: auto;
                max-width: 100%;
            }
        }

        .ctr-slider{
            position: static;
            margin: 10px 0 0;
            text-align: center;

            .nav-slider{
                text-align: center;
                display: inline-block;

                .btn-nav{
                    display: inline-block;
                    margin: 0 10px;
                    width: 80px;
                    .transform(rotate(180deg));

                    &.btn-next{
                        float: right;
                    }

                    &.btn-prev{
                        float: left;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .slidershow-home .owl-controls{
        right: 40px;
    }

    .store-home .info-store{
        padding: 40px 30px 30px;
    }

    .products-grid-deal .item-inner .left-product .deals-countdown .deals-time{
        padding: 6px 0;
    }

    .special-menu{
        background-size: auto 100%;
    }

    .special-menu .item-content.first,
    .special-menu .item-content.last{
        padding: 0;
    }

    .special-menu .item{
        border-bottom: 1px dashed rgba(255, 255, 255, 0.2)!important;
    }

    .special-menu .item-content.last{
        .item:last-child{
            border: none!important;
        }
    }

    .map-homepage .google-map .store-googlemap{
        padding: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .slidershow-home .owl-controls{
        right: 40px;
    }

    .store-home .info-store{
        padding: 40px 30px 30px;
    }

    .products-grid-deal .item-inner .left-product .deals-countdown .deals-time{
        padding: 6px 0;
    }

    .special-menu{
        background-size: auto 100%;
    }

    .special-menu .item-content.first,
    .special-menu .item-content.last{
        padding: 0;
    }

    .special-menu .item{
        border-bottom: 1px dashed rgba(255, 255, 255, 0.2)!important;
    }

    .special-menu .item-content.last{
        .item:last-child{
            border: none!important;
        }
    }

    .map-homepage .google-map .store-googlemap{
        padding: 30px;
    }

    .video-store > img{
        width: 100%;
    }

    .hot-categories .item{
        margin-bottom: 40px;
    }

    .client-says{
        background-size:  auto 100%;
    }
}

@media (max-width: 767px) {
    .slidershow-home .owl-controls{
        right: 40px;
    }

    .store-home .info-store{
        padding: 40px 30px 30px;
    }

    .products-grid-deal .item-inner .left-product .deals-countdown .deals-time{
        padding: 6px 0;
    }

    .special-menu{
        background-size: auto 100%;
    }

    .special-menu .item-content.first,
    .special-menu .item-content.last{
        padding: 0;
    }

    .special-menu .item{
        border-bottom: 1px dashed rgba(255, 255, 255, 0.2)!important;
    }

    .special-menu .item-content.last{
        .item:last-child{
            border: none!important;
        }
    }

    .map-homepage .google-map .store-googlemap{
        padding: 30px;
    }

    .video-store > img{
        width: 100%;
    }

    .hot-categories .item{
        margin-bottom: 40px;
    }

    .client-says{
        background-size:  auto 100%;
    }

    .slidershow-home .owl-controls{
        padding: 0;
    }

    .slidershow-home .owl-controls .owl-dots .owl-dot{
        padding: 0;
    }

    .store-home{
        margin-top: 40px;
    }

    .recommend-menu .tabs-menu .menu-tab li{
        margin: 0 10px;
    }

    .map-homepage .google-map .store-googlemap{
        width: 100%;
        padding: 30px 20px 20px;
    }

    .map-homepage .google-map .store-googlemap .info-store li{
        font-size: 100%;
    }
}

@media (max-width: 480px) {
    .products-grid-deal .item-inner .left-product .button-action{
        padding-top: 10px;
    }

    .products-grid-deal .item-inner .left-product .deals-countdown{
        font-size: 70%;
    }
}