
.title-home {
    margin-bottom: 30px;

    h2 {
        font-size: 257.14%;
        font-weight: 500;
        color: #222;
        position: relative;
    }
}

.slidershow-home{
    position: relative;

    .owl-controls{
        position: absolute;
        right: 190px;
        top: 50%;
        padding: 50px 0;
        .transform(translate(0px, -50%));

        &:before{
            content: "";
            width: 1px;
            top: 0;
            bottom: 0;
            left: 0;
            border-left: 1px dashed #fff;
            position: absolute;
        }

        .owl-nav{
            > div{
                background: none!important;
                color: #fff;
                position: absolute;
                left: -16px;
                .transform(rotate(90deg));

                &.owl-next{
                    bottom: -16px;
                }

                &.owl-prev{
                    top: -16px;
                }
            }
        }

        .owl-dots{
            counter-reset: i 0;
            color: #fff;

            .owl-dot{
                display: block;
                width: auto;
                height: auto;
                background: none;
                border: none;
                margin: 13px 0 13px 7px;

                &.active{
                    opacity: 1;
                }

                > span:after{
                    content: counter(i, decimal);
                    counter-increment: i 1;
                }

                span{
                    &:before{
                        content: "";
                        background-color: transparent;
                        width: 8px;
                        height: 8px;
                        display: inline-block;
                        float: left;
                        margin: 0 15px 0 -10px;
                        position: relative;
                        top: 8px;
                        .border_radius(50%;);
                    }
                }
            }

        }
    }
}


.store-home{
    margin-bottom: 70px;
    background-color: #fff;
    position: relative;
    margin-top: -40px;
    z-index: 10;
    .box_shadow(0 0 20px rgba(0,0,0,0.1));

    .title-home {
        position: relative;

        h2 {
            padding-bottom: 20px;

            &:before{
                content: "";
                display: block;
                width: 55px;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }

    .video-store{
        position: relative;
    }

    .play-video{
        width: 80px;
        height: 80px;
        background-color: rgba(255,255,255,0.6);
        padding: 13px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -40px;
        margin-left: -40px;
        z-index: 10;
        color: #fff;
        overflow: hidden;
        text-align: center;
        line-height: 80px;
        .border_radius(50%);
        .transition(.2s);

        &:hover{
            background-color: rgba(255,255,255,0.8);
        }

        &:before{
            .font-awesome(f04b,21px);
            position: absolute;
            left: 4px;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 21;
        }

        span{
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-indent: -9999px;
            .border_radius(50%);
        }
    }

    .info-store{
        padding: 85px 30px 30px;

        p{
            margin-bottom: 40px;
        }

        .btn-viewmore{
            display: table;
            font-size: 114.85%;
            color: #fff;
            padding: 12px 30px;
            .border_radius(3px);
            .transition(.2s);
        }
    }
}

.hot-categories{
    border-bottom: double #ebebeb;
    padding-bottom: 70px;
    margin-bottom: 70px;

    .item{
        text-align: center;

        &:hover{
            .image-cat{
                a{
                    img{
                        margin-top: -70px;
                    }
                }
            }
        }
    }

    .image-cat{
        a{
            display: inline-block;
            height: 70px;
            overflow: hidden;

            img{
                margin-top: 0;
                .transition(.2s);
            }
        }
    }

    .cat-info{
        padding: 5px 0 0;

        h3{
            font-size: 157.14%;
            margin-bottom: 15px;

            a{
                .transition(.2s);

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }


}

.special-menu{
    background: url(../images/bg-categories.jpg) no-repeat bottom center;
    padding: 75px 0 20px;
    margin-bottom: 70px;

    .title-home{
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 10px;
        position: relative;

        &:before{
            content: "";
            display: block;
            width: 55px;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -27px;
        }

        h2{
            color: #fff;
            margin-bottom: 15px;
        }

        p{
            color: rgba(255,255,255,0.4);
        }

    }

    .item-content.first{
        padding-right: 10px;
    }

    .item-content.last{
        padding-left: 10px;
    }

    .item{
        padding: 40px 0;
        border-bottom: 1px dashed rgba(255,255,255,0.2);

        &:last-child{
            border: none;
        }

        .menu-image{
            float: left;
            width: 120px;
            height: 120px;
            padding: 10px;
            background-color: rgba(255,255,255,0.1);
            .border_radius(50%);
            .transition(.2s);

            &:hover{
                background-color: rgba(255,255,255,0.2);
            }

            img{
                .border_radius(50%);
            }
        }

        .menu-info{
            margin-left: 150px;
            padding-top: 10px;

            .name-price{
                position: relative;

                h3{
                    font-size: 128.571%;
                    margin-bottom: 10px;
                    padding-right: 70px;
                }

                a{
                    color: #fff;
                    .transition(.2s);
                }

                .price-menu{
                    font-size: 128.571%;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            p{
                margin: 0;
                color: rgba(255,255,255,0.4);
            }
        }
    }
}

.recommend-menu{
    margin-bottom: 80px;

    .title-home{
        text-align: center;
        margin-bottom: 20px;

        h2{
            margin-bottom: 15px;
        }
    }

    .tabs-menu{
        .menu-tab{
            text-align: center;
            margin-bottom: 40px;

            li{
                display: inline-block;
                position: relative;
                font-size: 171.428%;
                margin: 0 25px;
                border-bottom: 2px solid transparent;
            }
        }
    }

    .banner-tab{
        margin-top: 5px;
    }

    .list-items{
        .item{
            padding: 16px 0;
            margin-top: -1px;
            border-top: 1px dashed #ccc;
            border-bottom: 1px dashed #ccc;

            &:first-child{
                border-top: none;
                padding-top: 0;
            }

            &:hover{
                position: relative;
            }
        }

        .name-price{
            position: relative;
            margin-bottom: 16px;

            h3{
                font-size: 142.857%;
                padding-right: 70px;
            }

            .price-menu{
                font-size: 128.571%;
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .short-info{
            font-size: 85.714%;
            margin: 0;
        }
    }
}

.client-says{
    background: url(../images/bg-clients.jpg) no-repeat bottom center;
    padding: 75px 0 70px;

    .title-home{
        text-align: center;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 50px;

        &:before{
            content: "";
            display: block;
            width: 55px;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -27px;
        }
    }

    .slider{
        display: none;

        &.slick-initialized{
            display: block;
        }
    }

    .group-clients{
        width: 100%;
        max-width: 370px;
        margin: 0 auto 20px;
        height: 120px;
        text-align: center;

        .client-image{
            width: 130px;

            .image-content{
                background-color: transparent;
                width: 120px;
                height: 120px;
                margin: 0 auto;
                overflow: hidden;
                cursor: pointer;
                .border_radius(50%);
                .transition(.5s);

                &:before{
                    .transition(.5s);
                }
            }


            img{
                .border_radius(50%);
            }
        }

        .slick-slide{
            &:not(.slick-center){
               .image-content{
                   width: 80px;
                   height: 80px;
                   margin: 23px auto 0;
                   position: relative;
                   padding: 0;
                   overflow: hidden;

                   &:before{
                       content: "";
                       display: block;
                       background-color: #000;
                       opacity: 0.4;
                       position: absolute;
                       left: 0;
                       right: 0;
                       top: 0;
                       bottom: 0;
                       z-index: 5;
                   }
               }
            }
        }

        .slick-center{
            .client-image{
                .image-content{
                    background-color: #fff;
                    margin-top: 0;
                    padding: 5px;

                    &:before{
                        opacity: 0;
                    }
                }
            }
        }
    }

    .client-comment{
        text-align: center;

        .comment-text{
            padding: 15px 0;
            line-height: 2.5em;

            &:before{
                .font-awesome(f10d,14px);
                position: relative;
                top: -9px;
            }

            &:after{
                .font-awesome(f10e,14px);
                position: relative;
                bottom: -9px;
            }
        }

        .client-name{
            text-transform: uppercase;
            font-size: 128.571%;
            font-weight: 700;
            margin-top: 45px;
            margin-bottom: 9px;
        }

        .client-job{
            font-size: 85.714%;
        }
    }

    .slider-for{
        position: relative;

        .slick-arrow{
            position: absolute;
            bottom: 75px;
            z-index: 10;
            cursor: pointer;

            &.slick-next{
                left: 50%;
                margin-left: 20px;

                &:before{
                    cursor: default;
                    content: "";
                    display: block;
                    width: 2px;
                    height: 30px;
                    background-color: #000;
                    position: absolute;
                    left: -21px;
                    top: -3px;
                    opacity: .2;
                }
            }

            &.slick-prev{
                right: 50%;
                margin-right: 20px;
            }
        }
    }
}

.group-image-gallery{
    padding: 25px 0 35px;

    .title-home{
        text-align: center;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 40px;

        &:before{
            content: "";
            display: block;
            width: 55px;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -27px;
        }
    }

    .image-content{
        margin-bottom: 40px;
    }
}

.map-homepage{
    .google-map{
        border: none;
        position: relative;

        #map{
            height: 522px;
        }

        .store-googlemap{
            background-color: rgba(0,0,0,0.85);
            color: #fff;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 50%;
            z-index: 10;
            padding: 75px;

            .title-home{
                position: relative;
                padding-bottom: 20px;

                &:before{
                    content: "";
                    display: block;
                    width: 55px;
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                h2{
                    color: #fff;
                }
            }

            .info-store{
                padding-top: 20px;

                li{
                    font-size: 114.285%;
                    margin-bottom: 17px;

                    &:before{
                        width: 30px;
                    }

                    &.address:before{
                        .font-awesome(f279,16px);
                        text-align: left;
                    }

                    &.email:before{
                        .font-awesome(f0e0,16px);
                        text-align: left;
                    }

                    &.phone:before{
                        .font-awesome(f098,19px);
                        text-align: left;
                    }
                }
            }
        }
    }
}

.home-style-1{
    .socials-wrap{
        padding-top: 10px;

        .title-follow{
            display: none;
        }

        ul{
            display: table;
            width: 100%;

            li{
                float: left;
                margin: 0 10px 10px 0;

                a{
                    display: block;
                    color: #fff;
                    width: 40px;
                    height: 40px;
                    background-color: rgba(255,255,255,0.2);
                    font-size: 14px;
                    text-align: center;
                    line-height: 40px;
                    .transition(.2s);

                    .name-social{
                        display: none;
                    }
                }
            }
        }
    }
}


.brand-content{
    margin: 10px 0 55px;
}

.products-grid-deal{
    margin-bottom: 80px;
    position: relative;

    .owl-controls{
        .owl-nav{
            div{
                width: 152px;
                height: 13px;
               /* background: url(../images/nav-deal.png) no-repeat top left transparent;*/
                position: absolute;
                top: 50%;
                margin-top: -7px;
                .border_radius(0);

                &.owl-prev{
                    left: -205px;
                }

                &.owl-next{
                    right: -205px;
                    .transform(rotate(180deg));
                }

                &:before{
                    display: none;
                }

                span{
                    display: none;
                }
            }
        }
    }

    .title-home{
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 30px;
        position: relative;

        &:before{
            content: "";
            display: block;
            width: 54px;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -27px;
        }
    }

    .deal-ct-slider{
        margin-right: -1000px;
        margin-left: -15px;
        padding: 15px;
        overflow: hidden;

        .container{
            float: left;
        }

        .owl-stage-outer{
            overflow: visible;
        }
    }

    .ctr-slider{
        position: absolute;
        right: 100%;
        margin-right: 30px;
        bottom: 35%;

        .nav-slider{
            .btn-nav{
                width: 152px;
                height: 30px;
                .transition(.2s);

                &:hover{
                    cursor: pointer;
                    opacity: .6;
                }

                &.btn-prev{
                    background: url(../images/nav-deal1.png) no-repeat center right;
                }

                &.btn-next{
                    background: url(../images/nav-deal2.png) no-repeat center left;
                }
            }
        }
    }

    .item-inner{
        position: relative;
        .box_shadow(0 0 15px rgba(0,0,0,0.1));

        .left-product{
            text-align: center;
            position: absolute;
            width: 72px;
            height: 100%;
            padding: 10px;
            background-color: #fff;
            border-right: 1px solid #ebebeb;
            overflow: hidden;

            .deals-countdown{
                background: none;
                margin: 0;
                padding: 0;

                .deals-time{
                    border-bottom: 1px solid #ebebeb;
                    padding: 10px 0;

                    .num-time{
                        font-size: 157.142%;
                        font-weight: 500;
                        line-height: 1;
                    }

                    .title-time{
                        color: #999;
                    }
                }
            }

            .button-action{
                position: absolute;
                left: -80px;
                top: 0;
                width: 72px;
                background-color: #fff;
                bottom: 0;
                z-index: 90;
                padding-top: 40px;
                .transition(.2s);

                &.active{
                    left: 0;
                }

                .action{
                    display: block;
                    width: 44px;
                    height: 44px;
                    margin: 0 auto 20px;
                    padding: 0!important;
                    border: 1px solid #222!important;
                    background-color: #fff!important;
                    text-align: center;
                    line-height: 44px;
                    color: #222!important;
                    .border_radius(50%);
                    .transition(.2s);

                    &:hover{
                        color: #fff!important;
                    }

                    span{
                        display: none;
                    }

                    &.tocart:before{
                        .font-awesome(f291,14px);
                    }

                    &.towishlist:before{
                        .font-awesome(f004,14px);
                    }

                    &.tocompare:before{
                        .font-awesome(f021,14px);
                    }

                    &.quickview-handler:before{
                        .font-awesome(f06e,14px);
                    }
                }
            }

            .shadow-active{
                width: 58px;
                height: 58px;
                position: absolute;
                bottom: 10px;
                left: 7px;
                opacity: 0;
                z-index: 95;
                .transition(.2s);
                .border_radius(50%);
            }

            .btn-button{
                width: 44px;
                height: 44px;
                border: 1px solid #222;
                position: absolute;
                bottom: 17px;
                left: 50%;
                margin-left: -22px;
                z-index: 100;
                .transition(.4s);
                .border_radius(50%);

                &:hover{
                    cursor: pointer;
                }

                &.active{
                    .dot-inner{
                        span{
                            background-color: #fff;
                        }

                        .vertical{
                            opacity: 0;
                        }
                    }
                }

                .dot-inner{
                    position: absolute;
                    top: 20px;
                    left: 13px;
                }

                span{
                    width: 17px;
                    height: 1px;
                    display: block;
                    background-color: #222;
                    z-index: 10;

                    &.vertical{
                        .transform(rotate(90deg));
                        position: relative;
                        top: 1px;
                    }
                }
            }

            &.active{
                .button-action{
                    left: 0;
                }

                .shadow-active{
                    opacity: .2;
                }
            }
        }

        .right-product{
            margin-left: 71px;

            .box-image{
                position: relative;
            }

            .box-info{
                padding: 17px 20px 10px;

                .reviews-actions{
                    display: none;
                }

                .product-reviews-summary .rating-summary{
                    top: -4px;
                }

                .price-box .price{
                    font-weight: 700;
                }

                .name-price{
                    display: table;
                    width: 100%;

                    .product-name{
                        float: left;
                        font-size: 114.285%;
                    }

                    .price-box{
                        float: right;
                    }
                }
            }
        }

        &:hover{
            .left-product{
                .btn-button{
                    .transform(rotate(270deg));
                    .dot-inner span{
                        background-color: #fff;

                        &.horizontal{
                            opacity: 0;
                        }
                    }
                }

                .button-action{
                    left: 0;
                }

                .shadow-active{
                    opacity: .2;
                }
            }
        }
    }
}

.layout-boxed{
    .slidershow-home,
    .map-homepage{
        margin-left: -15px;
        margin-right: -15px;
    }

    .client-says,
    .special-menu{
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}