.filter-content .swatch-option {
    .border_radius(3px);
    outline: none!important;
    border: 1px solid #e5e5e5;

    &:hover{
        border-color: #ddd;
    }
}

.filter-content .swatch-option.color {
    width: 20px;
    height: 20px;
    outline: none!important;
    border: none!important;
    min-width: auto;
    .box_shadow(0 0 1px 0px rgba(0, 0, 0, 0.3));
    .border_radius(50%);
}

.label-product {
    position: absolute;
    top: 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 85.714%;
    z-index: 20;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    min-width: 50px;
    text-align: center;
    .border_radius(12px);

    &.label-sale {
        left: 10px;
        background-color: #ff4444;
    }

    &.label-new {
        right: 10px;
        background-color: #1cc48f;
    }
}

//  Block sidebar
//  ---------------------------------------------

.sidebar {
    .block {
        margin-bottom: 30px !important;

        .block-title {
            margin-bottom: 20px;

            strong {
                font-size: 142.857%;
                color: #222;
                font-weight: 400;
            }
        }

        .block-content {

        }

        &.filter {
            .block-title {
                display: none;
            }

            .block-subtitle.filter-subtitle {
                display: none;
            }

            .block-content {
                background: none;
                border: none;
                padding: 0;


                .price-slider-wrap {
                    padding: 10px 0 0;
                }

                .filter-current {
                    .block-subtitle.filter-current-subtitle {
                        font-size: 150%;
                        color: #222;
                        font-weight: normal;
                    }

                    .items {
                        border: 1px solid #e5e5e5;
                        border-bottom: none;
                        overflow: hidden;

                        .item {
                            margin: 0;
                            padding: 13px 20px 10px;
                            background-color: #f8f8f8;
                            border-bottom: 1px solid #e5e5e5;

                            &:last-child {
                                border: none;
                            }

                            span {
                                display: inline;
                                font-weight: normal;
                            }

                            .action.remove {
                                color: #ff5555;

                                &:before {
                                    .font-awesome(f00d, 14px);
                                }

                                span {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .filter-current + .filter-actions {
                    padding: 20px;
                    border: 1px solid #e5e5e5;
                    text-align: right;
                }

                .filter-options {
                    .filter-options-title {
                        font-size: 142.857%;
                        color: #222;
                        font-weight: 400;
                        margin-bottom: 20px;
                    }

                    .filter-options-content {
                        margin: 0 0 30px;

                        .items {
                            .item {
                                margin: 0 0 15px;

                                a {
                                    color: #666;
                                    .transition(.2s);

                                    .price {
                                        color: inherit;
                                    }

                                    &:hover {
                                        background-color: #fff;
                                    }

                                    .count {
                                        float: right;
                                    }
                                }

                                &:last-child {
                                    a {
                                        border: none;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }

        &.block-compare {
            .block-title {
                .counter {
                    display: none;
                }
            }

            .empty {
                padding: 20px;
                border: 1px solid #ccc;
            }

            .product-items {
                list-style: none;
                margin: 0;
                padding: 0;

                .product-item{
                    position: relative;
                    padding: 5px 0;

                    .action.delete {
                        position: absolute;
                        top: 0;
                        right: 0;

                        &:before{
                            .font-awesome(f00d,14px);
                        }

                        span{
                            display: none;
                        }
                    }
                }

                .product-item-name {
                    margin: 0;
                    font-weight: normal;
                    display: block;
                    padding-right: 24px;
                }


            }

            .action.delete {
                right: 0;
                left: auto;
            }

            .actions-toolbar .secondary a.action {
                margin-top: 11px;
            }
        }

    }
}

.page-layout-1column{
    .block.filter{
        .block-subtitle{
            display: none;
        }

        .block-title{
            display: none;
        }

        .block-content .filter-options .filter-options-content .items .item{
            margin: 0 0 15px;
        }

        .block-content .filter-options .filter-options-title{
            color: #222;
            font-size: 142.857%;
            font-weight: 400;
            margin-bottom: 20px;
        }

        .filter-current{
            .filter-label{
                color: #222;
                font-size: 142.857%;
                font-weight: 400;
                margin-bottom: 10px;
            }
        }

        .block-content .filter-current .items .item .action.remove{
            color: #ff5555;

            &:before {
                .font-awesome(f00d, 14px);
            }

            span {
                display: none;
            }
        }
    }
}

// GRID PRODUCTS

.products-grid {
    position: relative;
    margin: 0;

    div[class^="swatch-opt-"] {
        margin-bottom: 10px;
    }

    .product-item-photo {
        display: block;
        line-height: 0;
        .transition(.2s);

        .product-image-container {
            width: 100% !important;

            .product-image-wrapper {
                padding: 0 !important;
                height: auto !important;

                img {
                    width: 100%;

                    &.product-image-photo {
                        position: relative;
                        float: none;
                    }
                }
            }
        }
    }

    .item {
        .item-inner {
            margin-bottom: 30px;

            .box-image {
                position: relative;

                .product-item-photo {
                    &:before{
                        content: "";
                        display: block;
                        background-color: rgba(0,0,0,0.4);
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        opacity: 0;
                        z-index: 10;
                        .transition(.2s);
                    }

                    img {
                        width: 100%;
                    }
                }

                .button-action {
                    text-align: center;
                    left: 0;
                    margin-top: -20px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    opacity: 0;
                    z-index: 20;
                    .transition(.2s);

                    form{
                        display: inline-block;
                        vertical-align: top;
                    }

                    .action {
                        display: inline-block;
                        vertical-align: top;
                        margin: 0 2px;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        overflow: visible;
                        background-color: #fff;
                        color: #222;
                        .transition(.2s);

                        &:hover{
                            color: #fff!important;
                        }

                        &:before {
                            display: none;
                        }

                        span {
                            display: none;
                        }

                        &.towishlist {
                            &:after {
                                .font-awesome(f004, 14px);
                            }
                        }

                        &.tocompare {
                            &:after {
                                .font-awesome(f074, 14px);
                            }
                        }

                        &.quickview-handler {
                            &:after {
                                .font-awesome(f06e, 14px);
                            }
                        }

                        &.btn-cart{
                            width: auto!important;
                            color: #222!important;

                            span{
                                display: block!important;
                            }

                            &:hover{
                                color: #fff!important;
                            }
                        }
                    }
                }
            }

            .box-info {
                padding: 10px 0 0;
                position: relative;

                .product-name {
                    padding: 5px 0 9px;
                    font-size: 114.285%;
                    font-weight: normal;
                    text-transform: capitalize;

                    a{
                        .transition(.2s);
                    }
                }

                div[class^="swatch-opt-"]{
                    display: block;
                }

                .swatch-option{
                    float: none;
                    display: inline-block;
                    margin: 0 5px;
                }

                .tocart {
                    height: 36px;
                    line-height: 36px;
                    color: #fff;
                    position: absolute;
                    top: -36px;
                    left: 0;
                    opacity: 0;
                    width: 100%;
                    .transition(.2s);
                    .border_radius(0);
                }

                .price-box {
                    margin: 0;

                    .price{
                        font-weight: 700;
                    }
                }

                .price-compare{
                    .price-box{
                        float: left;
                    }

                    .link-wishlist,
                    .link-compare{
                        float: right;
                        font-size: 85.714%;
                        margin-right: 30px;
                        opacity: 0;
                        visibility: hidden;
                        color: #999;
                        .transition(.2s);

                        &:after{
                            margin-left: 5px;
                            position: relative;
                            top: 2px;
                            .font-awesome(f178,14px);
                        }

                        &:before{
                            display: none;
                        }

                        span{
                            position: static;
                            width: auto;
                            height: auto;
                        }
                    }
                }

                .product-reviews-summary {
                    .rating-summary{
                        padding: 0;
                    }

                    .reviews-actions {

                        .action.view {
                            display: none;
                        }

                    }

                    &.empty {
                        padding-top: 0;
                        height: 21px;

                        .reviews-actions {
                            display: block;
                            width: 67px;
                            margin-top: 3px;
                            height: 12px;
                            background: url(../images/rating_icon.png) repeat-x left bottom;

                            a {
                                display: none;
                            }
                        }
                    }
                }
            }

            &:hover {
                .box-image{
                    a{
                        &:before{
                            opacity: 1;
                        }
                    }

                    .button-action {
                        opacity: 1;
                    }
                }

                .box-info{
                    .price-compare{
                        .link-wishlist,
                        .link-compare{
                            opacity: 1;
                            visibility: visible;
                            margin-right: 0;
                        }
                    }
                }


            }
        }
    }
}

// LIST PRODUCT

.products-list {
    margin: 0;

    .item {
        .item-inner {
            margin-bottom: 30px;
            position: relative;
            display: table;
            width: 100%;

            .box-image-list {
                position: relative;
                float: left;
                width: 300px;

                .product-item-photo{
                    .transition(.2s);

                    &:before{
                        content: "";
                        display: block;
                        background-color: rgba(0,0,0,0.4);
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        opacity: 0;
                        z-index: 10;
                        .transition(.2s);
                    }
                }

                a {
                    img {
                        width: 100%;
                    }
                }

                .button-action {
                    text-align: center;
                    left: 0;
                    margin-top: -20px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    opacity: 0;
                    z-index: 20;
                    .transition(.2s);

                    .action {
                        display: inline-block;
                        vertical-align: top;
                        margin: 0 2px;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        overflow: visible;
                        color: #666666;
                        background-color: #fff;
                        .transition(.2s);

                        &:before {
                            display: none;
                        }

                        span {
                            display: none;
                        }

                        &.quickview-handler {
                            &:after {
                                .font-awesome(f06e, 14px);
                            }
                        }

                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }

            .box-info-list {
                margin-left: 330px;

                .product-name {
                    font-size: 114.285%;
                    text-transform: capitalize;
                    margin-bottom: 10px;
                    font-weight: 500;
                }

                .price-rating{
                    display: table;
                    width: 100%;
                }

                .price-box {
                    float: left;
                    margin-top: 0;
                    margin-bottom: 5px;

                    .price{
                        font-weight: 700;
                    }
                }

                .product-reviews-summary {
                    float: right;
                    margin: 0 0 0;
                    display: block;
                    position: relative;
                    top: -4px;

                    .reviews-actions {
                        .action.view {
                            display: none;
                        }
                    }

                    &.empty {
                        padding-top: 0;
                        height: 21px;

                        .reviews-actions {
                            display: block;
                            width: 67px;
                            margin-top: 3px;
                            height: 12px;
                            background: url(../images/rating_icon.png) repeat-x left bottom;

                            a {
                                display: none;
                            }
                        }
                    }
                }

                .product-item-inner {
                    margin-bottom: 20px;
                    font-size: 85.714%;
                    line-height: 2em;

                    .more {
                        display: none;
                    }
                }

                form{
                    float: left;
                    margin-right: 6px;
                }

                .bottom-action {
                    float: left;

                    .action {
                        float: left;
                        vertical-align: top;
                        margin: 0 6px 0 0;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        overflow: visible;
                        border: 1px solid #ebebeb;
                        color: #666666;
                        text-align: center;
                        .transition(.2s);

                        &:hover{
                            color: #fff!important;
                        }

                        &:before {
                            display: none;
                        }

                        span {
                            display: none;
                        }

                        &.towishlist {
                            &:after {
                                .font-awesome(f004, 14px);
                            }
                        }

                        &.tocompare {
                            &:after {
                                .font-awesome(f021, 14px);
                            }
                        }
                    }
                }

                .tocart {
                    height: 40px;
                    line-height: 40px;
                    padding: 0 32px !important;
                    border: 1px solid #ebebeb !important;
                    background: transparent;
                    color: #444 !important;
                    text-transform: none;
                    .transition(.2s);

                    &:hover{
                        color: #fff!important;
                    }
                }
            }

            &:hover {
                .box-image-list{
                    .product-item-photo{
                        &:before{
                            opacity: 1;
                        }
                    }

                    .button-action {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.toolbar {
    clear: both;
    display: table;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;

    .toolbar-amount{
        display: none;
    }

    select {
        height: 40px;
        line-height: 40px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .modes {
        margin-right: 20px;
        display: inline-block;
        float: left;

        .modes-label {
            display: none;
        }

        .modes-mode {
            float: left;
            display: inline-block;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            background-color: #cccccc;
            color: #fff;
            margin-right: 5px;
            .transition(.2s);

            span {
                display: none;
            }

            &.active {
                color: #fff;
            }

            &:hover {
                color: #fff;
            }

            &.mode-grid {
                &:before {
                    .font-awesome(f009, 14px);
                }
            }

            &.mode-list {
                &:before {
                    .font-awesome(f00b, 14px);
                }
            }
        }
    }

    .limiter {
        float: left;
        margin-right: 20px;

        .label {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            padding: 0;
            line-height: 34px;
        }

        .control {
            display: inline-block;
            vertical-align: middle;
            padding: 0 5px;

        }

        .limiter-text {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .toolbar-sorter.sorter {
        float: left;

        .sorter-label {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            padding: 0 5px 0 0;
            line-height: 34px;
        }

        .sorter-options {
            display: inline-block;
            vertical-align: middle;
            margin-right: 0;
            width: auto;
        }

        .action.sorter-action {
            display: inline-block;
            vertical-align: middle;
            padding: 0 5px;

            &.sort-asc {
                &:before {
                    .font-awesome(f176, 14px);
                }
            }

            &.sort-desc {
                &:before {
                    .font-awesome(f175, 14px);
                }
            }

            span {
                display: none;
            }
        }
    }

    .pages {
        float: right;
        line-height: 0;

        .pages-label {
            display: none;
        }

        .pages-items {
            li {
                float: left;
                margin: 0 0 0 5px;

                .label {
                    display: none;
                }

                strong,
                a {
                    margin: 0;
                    padding: 0;
                    background-color: #ccc;
                    display: inline-block;
                    min-width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    font-weight: normal;
                    color: #fff;
                    .transition(.2s);

                    &.action.next {
                        span {
                            display: none;
                        }

                        &:after {
                            .font-awesome(f105, 17px);
                            line-height: 40px;
                        }
                    }

                    &.action.previous {
                        span {
                            display: none;
                        }

                        &:after {
                            .font-awesome(f104, 17px);
                            line-height: 40px;
                        }
                    }
                }

                a:hover {
                    color: #fff;
                }

                strong {
                    color: #fff;
                }
            }
        }
    }

}

.toolbar-top,
.toolbar-bottom {
    .toolbar .modes {
        margin-right: 50px;
    }
}

.toolbar-top {
    .pages {
        display: none;
    }

    .toolbar {
        .toolbar-sorter {
            &.sorter {
                float: right;
            }
        }
    }
}

.toolbar-bottom {
    padding-top: 20px;

    .toolbar {
        border-top: 1px solid #ebebeb;
        border-bottom: none;
        padding-top: 20px;
        padding-bottom: 0;

        .limiter,
        .toolbar-sorter.sorter {
            display: none;
        }
    }
}

.col3-layout {
    .toolbar-amount {
        display: none !important;
    }
}

.catalog-category-view{
    .toolbar-bottom{
        .modes{
            display: none;
        }

        .pages{
            width: 100%;
            float: none;
            text-align: center;

            .pages-items li{
                float: none;
                display: inline-block;
                margin: 0 3px;

                &.pages-item-next,
                &.pages-item-previous{
                    a{
                        background: none;
                        color: #999;
                        text-transform: uppercase;
                    }

                    span{
                        display: inline!important;
                    }

                    .label{
                        display: none!important;
                    }
                }

                &.pages-item-next{
                    float: right;

                    a{
                        &:after{
                            .font-awesome(f178,14px);
                        }

                        &:before{
                            display: none;
                        }
                    }
                }

                &.pages-item-previous{
                    float: left;

                    a{
                        &:before{
                            .font-awesome(f177,14px);
                        }

                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// PRODUCT SIDEBAR

.products-sidebar {
    .item {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        .item-inner {
            .box-image {
                float: left;
                width: 90px;
            }

            .box-info {
                margin-left: 110px;

                .product-name {
                    font-size: 100%;
                    margin-bottom: 5px;
                }

                .price-box .price{
                    font-size: 100%;
                    font-weight: 700;
                }

                .product-reviews-summary {
                    margin-bottom: 7px;
                    display: none;

                    .reviews-actions {
                        .action.view {
                            display: none;
                        }
                    }

                    &.empty {
                        padding-top: 0;
                        height: 21px;

                        .reviews-actions {
                            display: block;
                            width: 67px;
                            margin-top: 7px;
                            height: 12px;
                            background: url(../images/rating_icon.png) repeat-x left bottom;

                            a {
                                display: none;
                            }
                        }
                    }
                }

                .product-item-actions {
                    .actions-primary {
                        padding: 10px 0;
                    }

                    .actions-secondary {
                        a {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

// RESPONSIVE LISTING PAGE

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .products-grid .item .item-inner .box-info {
        padding: 10px 10px 20px;

        .bottom-action .btn-action.btn-cart:before {
            display: none;
        }
    }

    .sm_quickview_handler {
        display: none !important;
    }

    #layered-filter-block .wrap-price-shopby .btn-shopby {
        float: none !important;
        width: 100% !important;
    }

    #layered-filter-block .wrap-price-shopby .price-input {
        float: none !important;
        width: 100% !important;
        display: table;
        margin-bottom: 6px;

        .txt-price-shopby {
            width: 48%;
            margin: 0;
        }

        .txt-price-shopby:last-child {
            float: right;
        }

    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .toolbar .limiter{
        display: none;
    }

    .products-grid .item .item-inner .box-info {
        padding: 10px 10px 20px;

        .bottom-action .btn-action.btn-cart:before {
            display: none;
        }
    }

    .sm_quickview_handler {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .sm_quickview_handler {
        display: none !important;
    }

    .products-grid .item .item-inner .box-info {
        padding: 10px 10px 20px;

        .bottom-action .btn-action.btn-cart:before {
            display: none;
        }
    }

    .toolbar-amount{
        display: none!important;
    }

    .toolbar-top .limiter{
        display: none;
    }

    .toolbar-top .toolbar .modes{
        margin: 0;
    }

    .toolbar-top .modes, .toolbar-top .toolbar-sorter{
        margin: 0!important;

        .sorter-label{
            display: none!important;
        }
    }

    .toolbar-top {
        .modes,
        .toolbar-sorter {
            margin-right: 20px;
        }

        .pages {
            display: none;
        }
    }

    .toolbar-bottom {
        .toolbar-sorter,
        .limiter {
            display: none;
        }
    }

    .products-list .item .item-inner {
        .box-image-list {
            width: 150px;
        }

        .box-info-list {
            margin-left: 160px;
        }
    }

}

@media (max-width: 480px) {
    .toolbar .modes {
        margin-right: 10px;
    }

    .toolbar-top {
        .limiter {
            float: none;
            width: 100%;
            border-top: 1px solid #e5e5e5;
            padding-top: 10px;
            margin-top: 10px;
        }
    }

    .products-list .item .item-inner {
        .box-image-list,
        .box-info-list {
            width: 100%;
            margin: 0;
        }

        .box-info-list {
            clear: both;
            padding-top: 10px;
        }
    }
}

