﻿.default-style {
    .resp-accordion {
        display: none;
    }

    .resp-tabs-list {
        display: table;
        width: 100%;
        border-bottom: 1px solid #ebebeb;
        text-align: center;

        li {
            padding-bottom: 10px;
            display: inline-block;
            font-size: 114.285%;
            color: #999999;
            cursor: pointer;
            position: relative;
            margin: 0 20px;
            text-transform: uppercase;

            a{
                color: inherit;
            }
        }
    }

    .resp-tabs-container {
        clear: both;
        font-size: 85.714%;
    }
}

