﻿.resp-tab-content {
    padding: 30px 0 10px;

    &.resp-tab-content-active {
        display: block;
    }
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    .default-style .resp-tabs-list li{
        float: none;
        width: 100%;
        margin-left: 0!important;
        margin-right: 0!important;

        &.active::before{
            display: none;
        }
    }

    .vertical-style ul.resp-tabs-list{
        float: none;
        margin-left: 0!important;
        margin-right: 0!important;
        width: 100%!important;
    }

    .resp-accordion {
        border: 1px solid #ddd;
        font-size: 116.67%;
        display: block !important;
        color: #444;
        padding: 15px 20px !important;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 10px;
        position: relative;

        .resp-arrow {
            position: absolute;
            width: 30px;
            height: 30px;
            line-height: 30px;
            right: 10px;
            top: 50%;
            margin-top: -15px;
            text-align: center;

            &:before {
                .font-awesome(f067, 16px);
            }
        }

        &.resp-tab-active {
            color: #fff;
            .resp-arrow {
                &:before {
                    .font-awesome(f068, 16px);
                }
            }
        }
    }

    .vertical-style {
        .resp-tabs-container {
            margin-left: 0 !important;
            margin-right: 0 !important;
            min-height: auto!important;
        }
    }

    .resp-tab-content {
        padding: 20px 0 !important;
        border: none !important;
        min-height: auto !important;
    }

    .direction-rtl .resp-accordion .resp-arrow {
        left: 10px;
        right: auto;
    }

}
