// RESPONSIVE FOOTER STYLE 1

@media (min-width: 1200px) {
    .payment-content{
        margin-left: 51px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .footer-container .footer-app li{
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-container.footer-style-1 .open-hour{
        margin-bottom: 30px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .footer-container.footer-style-1 .open-hour{
        margin-bottom: 30px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .footer-container .footer-app li{
        margin-bottom: 10px;
    }
}
