// FOOTER STYLE 1

.footer-container {
    background-color: #111;
    color: #666;
    padding-top: 55px;

    a{
        color: #666;
    }

    .block-footer{
        margin-bottom: 30px;

        .footer-title{
            text-transform: uppercase;
            font-size: 114.285%;
            color: #fff;
            font-weight: 500;
            margin-bottom: 17px;
        }
    }

    .footer-links{
        li{
            margin-bottom: 8px;
            font-size: 85.714%;

            a{
                padding-left: 0;
                .transition(.2s);

                &:hover{
                    padding-left: 10px;
                }
            }
        }
    }

    .newsletter-info{
        font-size: 85.714%;
        margin-bottom: 15px;
    }

    .block-subscribe-footer{
        .form.subscribe{
            display: table;
            width: 100%;

            .input-box{
                display: table-cell;
                width: 100%;
                vertical-align: top;

                #newsletter-footer{
                    height: 50px;
                    border: none;
                }
            }

            .action-button{
                display: table-cell;
                vertical-align: top;

                button{
                    width: 53px;
                    height: 50px;
                    padding: 0;
                    text-align: center;
                    line-height: 50px;
                    .transition(.2s);

                    &:before{
                        .font-awesome(f124,20px);
                    }

                    span{
                        display: none;
                    }
                }
            }
        }
    }

    .footer-app{
        display: table;
        width: 100%;
        padding-top: 20px;

        li{
            float: left;
            margin-right: 10px;
        }
    }

    .open-hour{
        padding: 20px 20px 5px;
        background-color: #fff;
        margin-top: -95px;

        .title-open{
            font-size: 171.428%;
            position: relative;
            text-align: center;
            color: #222;

            &.under-line{
                padding-bottom: 10px;
                margin-bottom: 20px;

                &:before{
                    content: "";
                    width: 40px;
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -20px;
                }
            }
        }

        .time{
            margin-bottom: 20px;

            li{
                margin-bottom: 10px;

                span:first-child{
                    color: #222;
                }
            }
        }

        .phone{
            text-align: center;
            font-size: 185.714%;
            margin: 0;
        }
    }

    .footer-bottom{
        border-top: 1px solid rgba(255,255,255,0.1);
        padding: 20px 0;
    }
}

.layout-boxed{
    .footer-container{
        margin-left: -15px;
        margin-right: -15px;
    }
}


