<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Language switcher template
 */
?>

<?php if (count($block->getStores())>1): 
	$id = $block->getIdModifier() ? '-' . $block->getIdModifier() : ''?>
	<div class="switcher language switcher-language" data-ui-id="language-switcher" id="switcher-language<?php /* @escapeNotVerified */ echo $id?>">
		<strong class="label switcher-label"><span><?php /* @escapeNotVerified */ echo __('Language') ?></span></strong>
		<div class="actions dropdown options switcher-options">
			<div class="action toggle switcher-trigger" id="switcher-language-trigger<?php /* @escapeNotVerified */ echo $id?>">
				<strong style="background-image:url('<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/flags/flag_' . $block->getCurrentStoreCode() . '.png') ?>');" class="view-<?php echo $block->escapeHtml($block->getCurrentStoreCode()) ?>">
					<span><?php echo $block->escapeHtml($block->getStoreName()) ?></span>
				</strong>
			</div>
			<ul class="dropdown switcher-dropdown"
				data-mage-init='{"dropdownDialog":{
					"appendTo":"#switcher-language<?php /* @escapeNotVerified */ echo $id ?> > .options",
					"triggerTarget":"#switcher-language-trigger<?php /* @escapeNotVerified */ echo $id ?>",
					"closeOnMouseLeave": false,
					"triggerClass":"active",
					"parentClass":"active",
					"buttons":null}}'>
				<?php foreach ($block->getStores() as $_lang): ?>
					
					<?php if ($_lang->getId() != $block->getCurrentStoreId()): ?>
						<?php
						$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
						$_postDataHelper =  $objectManager->get('\Magento\Framework\Data\Helper\PostHelper');
						$data[\Magento\Store\Api\StoreResolverInterface::PARAM_NAME] = $_lang->getCode();
						$_urlStrore = $_lang->getCurrentUrl(false);
						$posCode = strpos($_urlStrore, '?'.\Magento\Store\Api\StoreResolverInterface::PARAM_NAME);
						if ($posCode !== false) {
							$_urlStrore = substr($_urlStrore,0,$posCode).'?'.\Magento\Store\Api\StoreResolverInterface::PARAM_NAME.'='.$_lang->getCode();
						}
						$postData= $_postDataHelper->getPostData(
							$_urlStrore,
							$data
						);
					?>
						<li class="view-<?php echo $block->escapeHtml($_lang->getCode()); ?> switcher-option">
							<a data-storecode="<?php echo $_lang->getCode();?>" style="background-image:url('<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/flags/flag_' . $_lang->getCode() . '.png') ?>');" href="#" data-post='<?= /* @noEscape */ $block->getTargetStorePostData($_lang) ?>'>
								<?php echo $block->escapeHtml($_lang->getName()) ?></a>
						</li>
					<?php endif; ?>
				<?php endforeach; ?>
			</ul>
		</div>
	</div>
<?php endif; ?>
